@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,800;1,6..12,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*own tailwind classes go here */
@layer components {
  .classExample {
    @apply py-1;
  }
}

.colors {
  color: hsl(209, 23%, 22%);
  color: hsl(207, 26%, 17%);
  color: hsl(200, 15%, 8%);
  color: hsl(0, 0%, 52%);
  color: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* DESKTOP DESIGN */
@media only screen and (min-width: 800px) {
}
